.recipeCard {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
    font-family: sans-serif;
    color: rgb(77, 77, 77);
}

.recipeName {
    font-size: 24px;
    margin: 10px;
}

.recipeImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipeDetails {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeInstructions {
    padding: 0px;
    border-radius: 5px;
    color: rgb(49, 48, 48);
}

.recipeInstructions ol {
    margin-left: 0px;
}

.recipeInstructions il {
    margin: 10px 0px;
}